/* html,
body {
  background: rgb(255, 247, 229);
} */

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  vertical-align: middle;
  border-style: none;
  width: 49.17px;
  height: 49.17px;
  border-radius: 50%;
}

#root {
  width: 100%;
  height: 100%;
}

.custom-font {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

.custom-font-color {
  color: #ffa544;
}

.custom-upload {
  display: block;
  width: 100%;
}

.custom-upload .ant-upload.ant-upload-select.ant-upload-select-text {
  width: 100%;
}

.ant-progress-bg {
  height: 30px !important;
}
.ant-progress-inner {
  background: #cbcbcb;
}

h1 {
  font-weight: 700 !important;
}

.ant-layout-content {
  flex: auto;
  height: auto;
}

thead tr th {
  background: white !important;
}

thead tr th::before {
  background: white !important;
}

.table-post tr th {
  border-bottom: white !important;
}
